{{#if isItem}}
<div class="item-detail item-school me5e-combo-cell" data-column-id="school">{{{me5ePowerCombo entry}}}</div>
{{else}}
<div class="item-detail item-school empty" data-column-id="school"></div>
{{/if}}
